---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
import { Card, CardHeader, CardTitle, CardDescription, CardContent } from '@/components/ui/card';
import { ArrowRight } from 'lucide-react';
import TrainingCard from '@/components/TrainingCard';
import Hero from '@/components/Hero.astro';

const allTraining = await getCollection('training');
---

<BaseLayout title="Onze trainingen">
  <Hero variant="small" subtitle="Onze trainingen" title="Zelf aan de slag" />

  <!-- Training Grid -->
  <section>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6">
      {allTraining.map((training) => <TrainingCard training={training} client:load />)}
    </div>
  </section>
</BaseLayout>
