---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
import { Card, CardHeader, CardTitle, CardDescription, CardContent } from '@/components/ui/card';
import { ArrowRight } from 'lucide-react';
import TrainingCard from '@/components/TrainingCard';
import Hero from '@/components/Hero.astro';
import Breadcrumb from '@/components/Breadcrumb';

const allTraining = await getCollection('training');
const breadcrumbItems = [{ label: 'Leren' }, { label: 'Trainingsaanbod', href: '/training' }];
---

<BaseLayout title="Onze trainingen">
  <Breadcrumb items={breadcrumbItems} client:load />

  <Hero variant="small" subtitle="Onze trainingen" title="Zelf aan de slag" />

  <!-- Training Grid -->
  <section>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6">
      {allTraining.map((training) => <TrainingCard training={training} client:load />)}
    </div>
  </section>
</BaseLayout>
