/* Adobe Fonts (Roc) */
@import url("https://use.typekit.net/uln2pyv.css");

/* Google Fonts (DM Sans) */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

/* Font Variables */
:root {
    --font-heading: 'roc-grotesk', sans-serif;
    --font-body: 'DM Sans', sans-serif;
}

/* Utility Classes */
.font-heading {
    font-family: var(--font-heading);
}

.font-body {
    font-family: var(--font-body);
}

/* Global Styles */
body {
    font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading);
}