---
import BaseLayout from '../layouts/BaseLayout.astro';
import Container from '../components/Container.astro';
import { getCollection } from 'astro:content';
import SolutionsGrid from '../components/SolutionsGrid';
import TeamSection from '../components/TeamSection';
import Hero from '@/components/Hero.astro';
import RecentNewsSection from '@/components/RecentNewsSection';

const newsItems = await getCollection('news');
const sortedNews = newsItems.sort(
  (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
);

const teamMembers = [
  {
    name: 'Maurits Fornier',
    role: 'Legal Design Lead',
    imageUrl: '/images/team/sunmoon-stokhof.jpg',
  },
  {
    name: 'Dielis Delen',
    role: 'Software Developer',
    imageUrl: '/images/team/dielis-delen.webp',
  },
  {
    name: 'Savannah Koomen',
    role: 'Strategie Lead',
    imageUrl: '/images/team/savannah-koomen.webp',
  },
];

const allNewsEntries = await getCollection('news');
const allNews = allNewsEntries.sort((a, b) => {
  return new Date(b.data.date).getTime() - new Date(a.data.date).getTime();
});
---

<BaseLayout title="Over Ons | Patroon">
  <Hero
    variant="small"
    subtitle="Over Patroon"
    title="Duidelijkmakers van het recht"
    description="De uitdrukking ‘schrijven is schrappen’ lijkt niet voor juristen te gelden. Contracten hebben de neiging uit de dijen, regels trekken meer regels aan. Het is de hoogste tijd voor nieuw gereedschap. We geloven dat juridisch werk zoveel slimmer, sneller en duidelijker kan. We combineren juridische expertise, technologie en design om dagelijkse uitdagingen van de moderne jurist op te lossen."
  >
    <div class="">
      <img
        src="images/kantoor/kantoor.jpg"
        alt="Patroon team"
        class="rounded-lg w-full object-cover"
      />
    </div>
  </Hero>
  <section class="py-16">
    <SolutionsGrid client:load />
  </section>

  <TeamSection client:load teamMembers={teamMembers} />
</BaseLayout>
