---
import BaseLayout from '../layouts/BaseLayout.astro';
import Container from '../components/Container.astro';
import RecentNews from '../components/RecentNews';
import { getCollection } from 'astro:content';
import SolutionsGrid from '../components/SolutionsGrid';
import TeamSection from '../components/TeamSection';
import Hero from '@/components/Hero.astro';

const teamMembers = [
  {
    name: 'Maurits Fornier',
    role: 'Legal Design Lead',
    imageUrl: '/images/team/sunmoon-stokhof.jpg',
  },
  {
    name: 'Dielis Delen',
    role: 'Software Developer',
    imageUrl: '/images/team/dielis-delen.webp',
  },
  {
    name: 'Savannah Koomen',
    role: 'Strategie Lead',
    imageUrl: '/images/team/savannah-koomen.webp',
  },
];

const allNewsEntries = await getCollection('news');
const allNews = allNewsEntries.sort((a, b) => {
  return new Date(b.data.date).getTime() - new Date(a.data.date).getTime();
});
---

<BaseLayout title="Over Ons | Patroon">
  <Hero
    class="min-h-[60vh]"
    subtitle="Over Patroon"
    title="We maken juridisch werk effectiever"
    description="Door de combinatie van juridische expertise, slimme technologie en doordacht design helpen we organisaties met"
    bulletPoints={[
      'Tijdrovende juridische taken automatiseren',
      'Complexe informatie helder maken',
    ]}
    primaryButtonText="Neem contact op"
    primaryButtonHref="/contact"
    secondaryButtonText="Lees meer"
    secondaryButtonHref="/about"
  >
    <div class="">
      <img
        src="images/kantoor/kantoor.jpg"
        alt="Patroon team"
        class="relative rounded-lg w-full aspect-[5/4] object-cover"
      />
    </div>
  </Hero>

  <Container>
    <div class="py-16 space-y-24">
      {/* Hero Section */}

      {/* Problems & Solutions Section */}
      <div class="space-y-8">
        <SolutionsGrid client:load />
      </div>

      {/* News Section */}
      <div class="bg-surface-1 rounded-2xl p-12">
        <RecentNews news={allNews} client:load />
      </div>
    </div>
  </Container>
  <TeamSection client:load teamMembers={teamMembers} />
</BaseLayout>
